


#main {

margin: auto;
background-color: red;

height: 100%;
width: 100%;
text-align: center;
} 

#title {
margin: auto;
height: auto;
max-width: 612px;
display: block;
font-size: 32px;
background-color: aliceblue;
text-align: center
}

#image {

  //position: absolute;  
  margin: auto;
  height: auto;
  max-width: 100%;
  display: block;


}

#tribute-info {

    
}