html {

  
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: rgb(228, 45, 32);
 
  
  

}

body {

  text-shadow: 1px 1px 1px black ;
  
  width: 80%;
  margin:  auto;


  
 
  
  

}

h1 {
  margin: 0 auto;
  font-size: 60px;
  text-align: center;
  font-family: 'Righteous', cursive;
  
  
}

h2 {

color:#FFD845 
}

p, li {
  
  text-indent: 50px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  
  
}


a {

  color: #2DCCB7
}

a:visited {

  color:#30B3A1
}

img {

  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  html {

  
    font-family: 'Roboto', sans-serif;
   
     
    
    
    
    
  
  }
  
  body {
  
    text-shadow: 1px 1px 1px black ;
    float: none;
    text-align:center;
    width: 100%;
    
    
  
    
  
  }
  
  h1 {
    margin: 0 auto;
    font-size: 60px;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #FFD845
    
  }
  
  h2 {
  
  color:#FFD845 
  }
  
  p, li {
    
    text-indent: 50px;
    
    line-height: 1;
    letter-spacing: 1px;
    color: #FFD845;
    
    
    
  }
  
  
  a {
  
    color: #2DCCB7
  }
  
  a:visited {
  
    color:#30B3A1
  }
  
  img {
  
    display: block;
    margin: 0 auto;
    
  }
}