html {

  
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  
 
  
  

}

body {

  text-shadow: 1px 1px 1px black ;
  
  width: 80%;
  margin:  auto;


  
 
  
  

}

h1 {
  margin: 0 auto;
  font-size: 60px;
  text-align: center;
  font-family: 'Righteous', cursive;
  
  
}

h2 {

color:rgb(3, 3, 3) 
}

p, li {
  
  text-indent: 50px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  
  
}


a {

  color: #2DCCB7
}

a:visited {

  color:#30B3A1
}

img {
  
  float: right;
  margin: 0 auto;
  border-radius: 50%;
  max-width: 30%;
  height: auto;
  
}

@media (max-width: 768px) {
  html {

  
    font-family: 'Roboto', sans-serif;
   
     
    
    
    
    
  
  }
  
  body {
  
    text-shadow: 1px 1px 1px black ;
    float: none;
    
    width: 100%;
    
    
  
    
  
  }
  
 
  
  p {

    text-indent: 50px;
  }
  
  
  h2 , p, li {
    
   
    
    line-height: 2;
    letter-spacing: 1px;
    padding-left: 20px;
    
    
    
    
  }
  
  
  a {
  
    color: #2DCCB7
  }
  
  a:visited {
  
    color:#30B3A1
  }
  
  img {
  
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    max-width: 30%;
    height: auto;
    float: none;
  }
}